{% extends "mainapp/base.html" %}

{% block contents %}
    {% load static %}
    <script src="{% static 'mainapp/accounts.js' %}"></script>


    <div class="row text-center">

        <div class="col-sm-4 text-center align-items-center">
            <div class="thumbnail">
                <h2><p class="text-info text-center">Add Account</p></h2>
                <form action="{% url "add_account" %}" method="post" role="form">
                    {% csrf_token %}
                    {{ account_form }}
                    <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                </form>
            </div>
        </div>

        <div class="col-sm-4 text-center align-items-center">
            <div class="thumbnail">
                <h2><p class="text-info text-center">Accounts</p></h2>
                {% for acc in accounts %}
                    <a href="{% url 'account_detail_view' acc.id %}"
                       class="list-group-item list-group-item-action">{{ acc.name }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-4 text-center align-items-center">
            <div class="thumbnail">
                <h2 class="text-info text-center">Top Income</h2>
                <div id="container">
                    <script>
                        var config = {
                            type: 'pie',
                            data: {
                                datasets: [{
                                    data: {{ account_top_income|safe }},
                                    backgroundColor: [
                                        '#2b2769', '#581e80', '#a92267', '#c02e1b', '#D3D3D3'
                                    ],
                                    label: 'Population'
                                }],
                                labels: {{ account_top_income_labels|safe }}
                            },
                            options: {
                                responsive: true
                            }
                        };

                        window.onload = function () {
                            var ctx = document.getElementById('pie-chart').getContext('2d');
                            window.myPie = new Chart(ctx, config);
                            var ctx1 = document.getElementById('top-total-funds').getContext('2d');
                            window.myPie = new Chart(ctx1, config1);
                            var ctx2 = document.getElementById('top-accounts-chart').getContext('2d');
                            window.myPie = new Chart(ctx2, config2);
                        };

                    </script>
                    <canvas id="pie-chart"></canvas>
                </div>
            </div>

        </div>

    </div>







{% endblock %}
