{% extends 'mainapp/base.html' %}

{% block contents %}

    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <h2 class="align-self-center">Add Income for {{ account.name }}</h2>
            <form action="{% url 'add_income_form' account_id=account.id %}" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                    {% for element in income_form %}
                        {{ element.label }}
                        {% if element.label == 'Operation date' %}
                            <div class="form-inline">
                                <div class="inline-group">{{ element }}</div>
                            </div>
                        {% elif element.label == 'Category' %}

                              <div class="row">
                                <div class="col-sm">
                                  {{ element }}
                                </div>
                                <div class="col-sm nav nav-pills">
                                  <a class="nav-link" href="{% url 'add_category_form' account_id=account.id %}">Add Category</a>
                                </div>
                              </div>
                        {% else %}
                            {{ element }}
                        {% endif %}
                    {% endfor %}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                </span>
                </div>
            </form>
        </div>
    </div>
{% endblock contents %}