{% extends 'mainapp/base.html' %}

{% block contents %}

    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <h2 class="align-self-center">Add new category</h2>
            <form action="{% url 'add_category_form' account_id=account.id %}" method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                    {% for element in category_form %}
                    Name:
                            {{ element }}
                    {% endfor %}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                </span>
                </div>
            </form>
        </div>
    </div>
{% endblock contents %}