<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Budget Manager</title>{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/styles.css' %}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


<nav class="navbar navbar-expand-lg bg-dark static-top mb-5 shadow">
    <div class="container">
        <i class="material-icons">account_balance</i>
        <a class="navbar-brand" href="{% url  'index_mainapp' %}">Budget Manager</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% block navbar %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts_mainapp' %}">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'people_mainapp' %}">People</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'overview_mainapp' %}">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'creators_mainapp' %}">Creators</a>
                    </li>
                </ul>
                </div>
            {% endblock %}
    </div>
</nav>


<div class="container bg-transparent">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            {% block contents %}
            {% endblock %}
            {% block return_button %}
                <div class="d-flex flex-row-reverse">
                    <button class=" p-2 btn btn-secondary"><a href="../">Previous Page</a></button>
                </div>
            {% endblock return_button %}
        </div>

    </div>
</div>


</body>
</html>