{% extends "mainapp/base.html" %}

{% block contents %}


    <div class="jumbotron">
        <h1 class="display-3">Creators</h1>
        <p class="lead">Osoby odpowiedzialne za projekt z zajęć Rozwiązania szkieletowe w tworzeniu aplikacji.</p>
        <hr class="my-2">
        <div class="list-group ">
            <p class="list-group-item list-group-item-action">
                Mateusz Muśko
            </p>
            <p class="list-group-item list-group-item-action">Rafał Łupiński
            </p>
            <p class="list-group-item list-group-item-action ">Adam Lisowski
            </p>
        </div>
    </div>

{% endblock %}
