{% extends "mainapp/base.html" %}

{% block contents %}

    <div class="col-sm text-center" style="margin-bottom: 20px">
        {% if category is not None %}
            <h3 class="text-info">Moneyflow Charts in {{ category }}</h3>
        {% else %}
            <h3 class="text-info">Moneyflow Charts</h3>
        {% endif %}
        <canvas id="bar-chart"></canvas>
        <script>
            new Chart(document.getElementById("bar-chart"), {
                type: 'bar',
                data: {
                    labels: {{ months|safe }},
                    datasets: [
                        {
                            label: "Amount of income",
                            backgroundColor: [
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                            ],
                            data: {{ income_each_month|safe }}
                        }
                    ]
                },
                options: {
                    legend: {display: false},
                    title: {
                        display: true,
                        text: 'Income grouped by each month'
                    }
                }
            });
        </script>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3 class="text-success">Personal incomes</h3>

                <div class="list-group">
                {% if category is not None %}
                    {% for income in f_incomes %}
                    <a style="margin-top:10px" href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ income.amount }} zł.</h5>
                            <small>{{ income.operation_date }}</small>
                        </div>
                        <p class="mb-1">{{ income }}</p>
                        <small>{{ income.account }}</small><br>

                    </a>
                    {% endfor %}

                {% else %}
                    {% for income in incomes_history_page %}
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ income.amount }} zł.</h5>
                                <small>{{ income.operation_date }}</small>
                            </div>
                            <p class="mb-1">{{ income }}</p>
                            <small>{{ income.account }}</small>
                        </a>
                    {% endfor %}
                {% endif %}

                </div>

                <div class="text-center" style="padding: 5px">
                    <ul class="pagination pagination-sm justify-content-center">
                        {% if incomes_history_page.has_previous %}
                            <li><a class="page-link" href="?page=1">&laquo;</a></li>
                            <li><a class="page-link" href="?page={{ incomes_history_page.previous_page_number }}">previous</a>
                            </li>
                        {% endif %}

                        {% for page in incomes_history_page.paginator.page_range %}
                            {% if page == incomes_history_page.number %}
                                <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if incomes_history_page.has_next %}
                            <li><a class="page-link" href="?page={{ incomes_history_page.next_page_number }}">next</a>
                            </li>
                            <li><a class="page-link"
                                   href="?page={{ incomes_history_page.paginator.num_pages }}">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h2>Hello {{ name }}!</h2></div>
                    <div class="card-body">
                        <h5 class="card-title"><strong>Surname: </strong> {{ surname }}</h5>
                        <h5 class="card-title"><strong>E-Mail: </strong> {{ mail }}</h5>
                        <h5 class="card-title"><strong>Phone No: </strong> {{ phone_no }}</h5>
                        <p class="card-text">{{ actual_date }}</p>
                    </div>
                </div>
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                        ante.</p>
                    <footer class="blockquote-footer">Inspirational <cite title="Source Title">Quote</cite>
                    </footer>
                </blockquote>
            </div>
            <div class="col-sm-4 text-center">
                <div>
                    <h4 class="text-info" style="margin-bottom: 25px">Sort by</h4>
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <form method="GET" action=".">

                                <select class="form-control nav-link dropdown-toggle" name="category">
                                    {% if category is not None %}
                                        <option selected disabled hidden>{{ category }}</option>
                                    {% else %}
                                        <option selected disabled hidden>Category</option>
                                    {% endif %}
                                    <div class="dropdown-menu">
                                        {% for category in categories %}
                                            <option value="{{ category.name }}"
                                                    class="dropdown-item">{{ category.name }}</option>
                                        {% endfor %}
                                    </div>
                                </select>
                        </li>
                        <li class="nav-item">
                            <select class="form-control nav-link dropdown-toggle" name="sort_by">
                                {% if category is not None %}
                                    <option selected disabled hidden>{{ sort_by }}</option>
                                {% else %}
                                    <option selected disabled hidden>Sort By</option>
                                {% endif %}
                                <option value="Ascending" class="dropdown-item">Ascending</option>
                                <option value="Descending" class="dropdown-item">Descending</option>
                            </select>
                        </li>
                        <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>

    </div>


{% endblock contents %}