{% extends "mainapp/base.html" %}

{% block contents %}

    <div class="row">
        <div class="col-sm text-center">
            {% if category is not None %}
                <h3 class="text-info">Moneyflow Charts in {{ category }}</h3>
            {% else %}
                <h3 class="text-info">Moneyflow Charts</h3>
            {% endif %}
            <canvas id="balance_by_month"></canvas>
            <script>
                var expenses ={{ expenses_by_month|safe }};
                var incomes = {{ incomes_by_month|safe }};
                var balances = {{ balance_by_month|safe }};
                var months = {{ months|safe }};
                var ctx = document.getElementById('balance_by_month');

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: months,
                        datasets: [{
                            label: 'Total Balance',
                            data: balances,
                            backgroundColor: [
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                                'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)', 'rgba(11,230,255,0.35)',
                            ],
                            order: 3,
                        }, {
                            label: 'Expenses',
                            data: expenses,
                            type: "line",
                            order: 2,
                            borderColor: [
                                'rgba(255,56,66,0.43)'
                            ]
                        },
                            {
                                label: 'Incomes',
                                data: incomes,
                                type: "line",
                                order: 1,
                                borderColor: [
                                    'rgba(57,255,71,0.31)'
                                ]
                            }],
                    },
                    options: {

                        legend: {
                            labels: {
                                fontColor: '#ffffff'
                            }
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: '#ffffff'
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontColor: '#ffffff'
                                }
                            }],
                        }
                    }
                });

            </script>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h3 class="text-success">Account incomes</h3>

                <div class="list-group">
                    {% if category is not None %}

                        {% for income in f_incomes %}
                            <a style="margin-top:10px" href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ income.amount }} zł.</h5>
                                    <small>{{ income.operation_date }}</small>
                                </div>
                                <p class="mb-1">{{ income }}</p>
                                <small>{{ income.account }}</small><br>
                                <a class="btn-sm btn-danger" href="{% url 'delete_income' acc_id income.id %}">Delete
                                    Income</a>
                            </a>
                        {% endfor %}

                    {% else %}

                        {% for income in income %}
                            <a style="margin-top:10px" href="#"
                               class="list-group-item list-group-item-action flex-column align-items-start active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ income.amount }} zł.</h5>
                                    <small>{{ income.operation_date }}</small>
                                </div>
                                <p class="mb-1">{{ income }}</p>
                                <small>{{ income.account }}</small><br>
                                <a class="btn-sm btn-danger" href="{% url 'delete_income' acc_id income.id %}">Delete
                                    Income</a>
                            </a>
                        {% endfor %}

                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="card-header border border-secondary text-center" style="margin-top: 30px"><h3>Hello {{ name }}!</h3>
                    <b>Balance: {{ balance }} zł.</b>
                </div>
                <h4 class="text-info" style="margin-top: 20px">Add Cashflows</h4>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success"
                    ><a href="{% url 'add_income_form' account_id=acc_id %}">Add Income</a></button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success"><a
                                href="{% url 'add_expense_form' account_id=acc_id %}">Add expense</a></button>
                    </div>


                </div>
                <h4 class="text-info" style="margin-top: 10px">Sort by</h4>
                <div>
                    <ul class="nav nav-pills justify-content-center">
                        <li class="nav-item">
                            <form method="GET" action=".">

                                <select class="form-control nav-link dropdown-toggle" name="category">
                                    {% if category is not None %}
                                        <option selected disabled hidden>{{ category }}</option>
                                    {% else %}
                                        <option selected disabled hidden>Category</option>
                                    {% endif %}
                                    <div class="dropdown-menu">
                                        {% for category in categories %}
                                            <option value="{{ category.name }}"
                                                    class="dropdown-item">{{ category.name }}</option>
                                        {% endfor %}
                                    </div>
                                </select>
                        </li>
                        <li class="nav-item">
                            <select class="form-control nav-link dropdown-toggle" name="sort_by">
                                {% if category is not None %}
                                    <option selected disabled hidden>{{ sort_by }}</option>
                                {% else %}
                                    <option selected disabled hidden>Sort By</option>
                                {% endif %}
                                <option value="Ascending" class="dropdown-item">Ascending</option>
                                <option value="Descending" class="dropdown-item">Descending</option>
                            </select>
                        </li>
                        <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </ul>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <h3 style="margin-bottom:20px" class="text-danger">Account expenses</h3>

                <div class="list-group" style="margin-left:1rem">

                    {% if category is not None %}

                        {% for expense in f_expenses %}
                            {% if expense.priority_of_operation == "HG" %}
                                <div class="card border-danger mb-3" style="max-width: 20rem;">
                            {% elif expense.priority_of_operation == "LW" %}
                                <div class="card border-success mb-3" style="max-width: 20rem;">
                            {% else %}
                                <div class="card border-warning mb-3" style="max-width: 20rem;">
                            {% endif %}

                        <a href="#"
                           class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ expense.amount }} zł.</h5>
                                <small>{{ expense.operation_date }}</small>
                            </div>
                            <p class="mb-1">{{ expense }}</p>
                            {% if expense.priority_of_operation == "HG" %}
                                <span class="badge badge-danger text justify-content-end"> Priority High!</span>
                            {% elif expense.priority_of_operation == "LW" %}
                                <span class="badge badge-success text justify-content-end"> Priority Low</span>
                            {% else %}
                                <span class="badge badge-warning text justify-content-end"> Priority Medium</span>
                            {% endif %}<br>
                            <a class="btn-sm btn-danger" href="{% url 'delete_expense' acc_id expense.id %}">Delete
                                Expense</a>
                        </a>
                        </div>
                        {% endfor %}

                    </div>
                    </div>

                    {% else %}

                        {% for expense in expenses %}
                            {% if expense.priority_of_operation == "HG" %}
                                <div class="card border-danger mb-3" style="max-width: 20rem;">
                            {% elif expense.priority_of_operation == "LW" %}
                                <div class="card border-success mb-3" style="max-width: 20rem;">
                            {% else %}
                                <div class="card border-warning mb-3" style="max-width: 20rem;">
                            {% endif %}

                        <a href="#"
                           class="list-group-item list-group-item-action flex-column align-items-start active">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ expense.amount }} zł.</h5>
                                <small>{{ expense.operation_date }}</small>
                            </div>
                            <p class="mb-1">{{ expense }}</p>
                            {% if expense.priority_of_operation == "HG" %}
                                <span class="badge badge-danger text justify-content-end"> Priority High!</span>
                            {% elif expense.priority_of_operation == "LW" %}
                                <span class="badge badge-success text justify-content-end"> Priority Low</span>
                            {% else %}
                                <span class="badge badge-warning text justify-content-end"> Priority Medium</span>
                            {% endif %}<br>
                            <a class="btn-sm btn-danger" href="{% url 'delete_expense' acc_id expense.id %}">Delete
                                Expense</a>
                        </a>
                        </div>
                        {% endfor %}

                    </div>
                    </div>

                    {% endif %}
                </div>
            </div>

            <div class="text-center">
                <ul class="pagination pagination-sm justify-content-center">

                    <li><a class="page-link" href="?page=1">&laquo;</a></li>
                    <li><a class="page-link" href="?page={{ pages.previous_page_number }}">previous</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="?page=#">{{ page }}1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page=#">{{ page }}2</a></li>
                    <li><a class="page-link" href="?page={{ pages.next_page_number }}">next</a>
                    </li>
                    <li><a class="page-link"
                           href="?page={{ pages.paginator.num_pages }}">&raquo;</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

{% endblock contents %}
