{% extends "mainapp/base.html" %}

{% block contents %}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <div class="container-fluid text-center bg-grey">
        <div class="row text-center" style="padding-bottom: 25px">
            <div class="col-sm-4">
                <div class="card border-info mb-3" style="max-width: 20rem;">
                    <div class="card-header"><h1>Hello {{ owner }}!</h1></div>
                    <div class="card-body">
                        <h4 class="card-title"><strong>Balance:</strong> {{ default_account_funds }} pln.</h4>
                        <p class="card-text">{{ actual_date }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <p style="align-content: center"><strong>List of People</strong></p>
                    <div id="container">
                        {% if people_list %}
                            <div class="list-group">
                                {% for person in people_list %}
                                    <a href="people/{{ person.id }}"
                                       class="list-group-item list-group-item-action">{{ person.name }}</a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No people added</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <p><strong>List of the accounts</strong></p>
                    {% if account_list %}
                        <div class="list-group">
                            {% for account in account_list %}
                                <a href="accounts/account={{ account.id }}"
                                   class="list-group-item list-group-item-action">{{ account.name }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No accounts available </p>
                    {% endif %}
                </div>
            </div>
        </div>

        <h2>Operations</h2>
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="thumbnail">
                    <p style="align-content: center"><strong>Incomes</strong></p>
                    <div id="container">
                        {% if incomes %}
                            <div class="list-group">
                                {% for inc in incomes %}
                                    <a href="#"
                                       class="list-group-item list-group-item-action">{{ inc.operation_date }}: {{ inc.source }}</a>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>No incomes </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <p style="align-content: center"><strong>Expenses</strong></p>
                <div id="container">
                    {% if expenses %}
                        <div class="list-group">
                            {% for exp in expenses %}
                                <a href="#"
                                   class="list-group-item list-group-item-action">{{ exp.purpose }} {{ exp.operation_date }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No expenses </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
