{% extends "mainapp/base.html" %}
{% block contents %}

    <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ top_income|safe }},
          backgroundColor: [
            '#691318', '#028011', '#2c28a9', '#c0b707', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ top_income_labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('top-income-pie').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

    <div class="row">
        <div class="col-sm-4">
            <h2><p class="text-info text-center">Add person</p></h2>
            <form action='{% url 'add_person' %}' method="POST" role="form">
                {% csrf_token %}
                <div class="form-group">
                    {{ person_form }}
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" id="add-btn">Submit</button>
                </span>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h2><p class='text-info text-center'>List of people</p></h2>
            {% for person in people_list %}
                <a href="{% url 'person_detail_view' person.id %}"
                   class="list-group-item list-group-item-action text-center">{{ person.name }} {{ person.surname }}</a>
            {% endfor %}
        </div>

        <div class="col-sm-4">
            <div class="top_income_label" style="text-align: center">
                <h2><p class="text-info text-center">Top income</p></h2>
                <div class="top-income-chart">
                    <canvas id="top-income-pie"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
    </div>

{% endblock %}
